.card {
  padding: 10px 50px 50px 50px;
  background-color: #01bfa6;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid #01bfa6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: max-content;
}
